@model IEnumerable<DataLayer.Entities.Supplementary.Slider>
@using Core.Services.Interfaces;
@inject IPermissionService _perService
@{
    ViewData["Title"] = "اسلایدرها";
    Layout = "~/Areas/UsersPanel/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-info">اسلایدرها</h1>
@if(_perService.CheckPermissionByName("sliadd",User.Identity!.Name!))
{
    <p>
        <a asp-action="Create" class="btn btn-success">ثبت اسلایدر</a>
    </p>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.Title)
            </th>
           
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.ShowPriority)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th class="text-xs-center align-middle">عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.ShowPriority)
                </td>
                <td class="text-xs-center align-middle">
                    <img src="/images/sliders/@item.Image" width="200" height="100">
                </td>
                <td class="text-xs-center align-middle">
                    @if(_perService.CheckPermissionByName("sliedit",User.Identity!.Name!))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> <span>|</span>
                    }
                    @if(_perService.CheckPermissionByName("slidet",User.Identity!.Name!))
                    {
                        <a asp-action="Details" asp-route-id="@item.Id">جزئیات</a> <span>|</span>
                    }
                    @if (_perService.CheckPermissionByName("slidel", User.Identity!.Name!))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">حــذف</a>
                    }                    
                </td>
            </tr>
        }
    </tbody>
</table>
