@model DataLayer.Entities.Supplementary.SiteInfo
@using Core.Convertors;
@{
    ViewData["Title"] = "جزئیات اطلاعات سایت";
    Layout = "~/Areas/UsersPanel/Views/Shared/_AdminLayout.cshtml";
}
<h1 class="text-xs-center alert alert-info">جزئیات اطلاعات سایت</h1>
<div class="container-fluid">    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingCost)
        </dt>
        <dd class="col-sm-10">
            @Model.ShippingCost.GetValueOrDefault().ToString("N0")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mobile1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mobile2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainPageMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainPageMessage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteCurrency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteCurrency)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FreeShippingValue)
        </dt>
        <dd class="col-sm-10">
            @Model.FreeShippingValue.GetValueOrDefault().ToString("N0")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InstagramLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstagramLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TelegramLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TelegramLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WhatsupLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WhatsupLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegDate)
        </dt>
        <dd class="col-sm-10">
            @Model.RegDate.ToShamsiN_WithTime()
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">ویرایش</a> |
    <a asp-action="Index">بازگشت</a>
</div>
