@using Core.Convertors;
@model IEnumerable<DataLayer.Entities.Store.DiscountCoupen>
@using Core.Services.Interfaces;
@inject IPermissionService _permService
@{
    ViewData["Title"] = "کوپن های تخفیف";
    Layout = "~/Areas/UsersPanel/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-info">کوپن های تخفیف</h1>
@if (_permService.CheckPermissionByName("dcadd", User.Identity!.Name!))
{
    <p>
        <a asp-action="Create" class="btn btn-success">ثبت</a>
    </p>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.Percent)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.StartedDate)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.ExpiredDate)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th class="text-xs-center align-middle">عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.Percent)
                </td>
                <td class="text-xs-center align-middle">
                    @item.StartedDate.ToShamsiN()
                </td>
                <td class="text-xs-center align-middle">
                    @item.ExpiredDate.ToShamsiN()
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td class="text-xs-center align-middle">
                    @if (_permService.CheckPermissionByName("dcedit", User.Identity!.Name!))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">ویرایش</a>
                    }
                    @if (_permService.CheckPermissionByName("dcdet", User.Identity!.Name!))
                    {
                        <a asp-action="Details" asp-route-id="@item.Id">جزئیات</a>
                    }
                    @if (_permService.CheckPermissionByName("dcdel", User.Identity!.Name!))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                    }
                    
                </td>
            </tr>
        }
    </tbody>
</table>
