@model IEnumerable<DataLayer.Entities.Store.Cart>
@using Core.Convertors;
@{
    ViewData["Title"] = "سبد های خرید";
    Layout = "~/Areas/UsersPanel/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-info">سبد های خرید</h1>


<table class="table table-bordered">
    <thead>
        <tr>            
            
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.BuyerName)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.BuyerFamily)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.BuyerCellphone)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.CheckOut)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th class="text-xs-center align-middle">عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(x => x.CreatedDate).ToList())
        {
            <tr>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.BuyerName)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.BuyerFamily)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.BuyerCellphone)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.CheckOut)
                </td>
                <td class="text-xs-center align-middle">
                    @if (item.IsActive)
                    {
                        <span>فعال</span>
                    }
                    else
                    {
                        <span>غیر فعال</span>
                    }
                </td>
                <td class="text-xs-center align-middle">
                    @item.CreatedDate.ToShamsiN_WithTime()
                </td>
                <td class="text-xs-center align-middle">
                    
                    <a asp-action="CartDetails" asp-route-id="@item.Id">جزئیات</a>
                   
                </td>
            </tr>
        }
    </tbody>
</table>
