@model IEnumerable<DataLayer.Entities.Supplementary.ContactMessage>
@using Core.Convertors;
@using Core.Services.Interfaces;
@inject IPermissionService _perService
@{
    ViewData["Title"] = "پیام های مشتریان";
    Layout = "~/Areas/UsersPanel/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-info">پیام های مشتریان</h1>
@if(_perService.CheckPermissionByName("cmadd",User.Identity!.Name!))
{
    <p>
        <a asp-action="Create" class="btn btn-success">ثبت پیام</a>
    </p>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.Cellphone)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.RegDate)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th class="text-xs-center align-middle">عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(x => x.RegDate)) {
            <tr>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.Cellphone)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td class="text-xs-center align-middle">
                    @item.RegDate.ToShamsiN_WithTime()
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td class="text-xs-center align-middle">
                    @if (_perService.CheckPermissionByName("cmadd", User.Identity!.Name!))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">ویرایش</a><span>|</span>
                    }
                    @if (_perService.CheckPermissionByName("cmadd", User.Identity!.Name!))
                    {
                        <a asp-action="Details" asp-route-id="@item.Id">جزئیات</a><span>|</span>
                    }
                    @if (_perService.CheckPermissionByName("cmadd", User.Identity!.Name!))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                    }                  
                </td>
            </tr>
            }
        </tbody>
    </table>
