@model IEnumerable<DataLayer.Entities.Supplementary.Status>
@using Core.Services.Interfaces;
@inject IPermissionService _perService
@{
    ViewData["Title"] = "وضعیت‌های سفارش";
    Layout = "~/Areas/UsersPanel/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-info">وضعیت‌های سفارش</h1>
@if (_perService.CheckPermissionByName("orsadd", User.Identity!.Name!))
{
    <p>
        <a asp-action="Create" class="btn btn-success">ثبت</a>
    </p>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.StartOfProcess)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.EndOfProcess)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.DeliverToPost)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.DeliverToCustomer)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th class="text-xs-center align-middle">عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.StartOfProcess)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.EndOfProcess)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.DeliverToPost)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.DeliverToCustomer)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td class="text-xs-center align-middle">
                    @if (_perService.CheckPermissionByName("orsedit", User.Identity!.Name!))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">ویرایش</a>
                    }
                    @if (_perService.CheckPermissionByName("orsdet", User.Identity!.Name!))
                    {
                        <a asp-action="Details" asp-route-id="@item.Id">جزئیات</a>
                    }
                    @if (_perService.CheckPermissionByName("orsdel", User.Identity!.Name!))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                    }                    
                </td>
            </tr>
        }
    </tbody>
</table>
