<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hoozad</title>
    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon" />
    
    @RenderSection("CssRefs",false)
</head>
<body id="body-homepage" >
    <partial name="_SearchForm" />
    
    @RenderSection("Header",false)
    <main class="content homepage">
        @RenderBody()       
    </main>
    @RenderSection("Footer",false)

    @RenderSection("JsRefs",false)
    <a class="scrollTo scroll-To-top"  href="#"></a>
    
    @await RenderSectionAsync("Scripts", required: false)
   
</body>
</html>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">                
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
            </div>
        </div>

    </div>
</div>