@model DataLayer.Entities.Supplementary.Banner

@{
    ViewData["Title"] = "جزئیات بسته بنر";
    Layout = "~/Areas/UsersPanel/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-info">جزئیات بسته بنر</h1>

<div class="container-fluid">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShowPriority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShowPriority)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">ویرایش</a> |
    <a asp-action="Index">بازگشت</a>
</div>
