@model IEnumerable<DataLayer.Entities.Supplementary.Banner>

@{
    ViewData["Title"] = "بسته های بنر";
    Layout = "~/Areas/UsersPanel/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-info">بسته های بنر</h1>
<h4 class="text-xs-center">
    در سایت به 3بسته بنر و در کل به 9 بنر نیاز است
    <br />
    1 بسته بنر تکی 
    <br />
    2 بسته بنر دوتایی
    <br />
    2 بسته بنر چهارتایی 
</h4>
<p>
    <a asp-action="Create" class="btn btn-success">ثبت بسته بنر </a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.ItemCount)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.ShowPriority)
            </th>
            <th class="text-xs-center align-middle">عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.ItemCount) <span>بنری</span>
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.ShowPriority)
                </td>
                <td class="text-xs-center align-middle">
                    <a asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">جزئیات</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">حذف</a> |
                    <a asp-action="Create" asp-controller="BannerItems"  asp-route-bannerid="@item.Id">ثبت بنر</a> |
                    <a asp-action="Index" asp-controller="BannerItems" asp-route-bannerid="@item.Id">مشاهده بنرها <span class="tag tag-squre tag-info">@item.BannerItems?.Count()</span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
