@model DataLayer.Entities.Permissions.Permission

@{
    ViewData["Title"] = "حذف دسترسی";
    Layout = "~/Areas/UsersPanel/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-danger">حذف دسترسی</h1>

<h3 class="text-xs-center">آیا مطمئن به حذف هستید؟</h3>
<div class="container-fluid">

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PermissionTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PermissionTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PermissionName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PermissionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parent!.PermissionName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="PermissionId" />
        <input type="submit" value="حــذف" class="btn btn-danger" /> |
        <a asp-action="Index">بازگشت</a>
    </form>
</div>
