@model IEnumerable<DataLayer.Entities.Permissions.Permission>
@using Core.Services.Interfaces;
@inject IPermissionService _perService
@{
    ViewData["Title"] = "دسترسی‌ها";
    Layout = "~/Areas/UsersPanel/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-info">دسترسی‌ها</h1>
@if (_perService.CheckPermissionByName("peradd", User.Identity!.Name!))
{
    <p>
        <a asp-action="Create" class="btn btn-success">ثبت</a>
    </p>
}



<div id="parent0" class="container-fluid" style="height:10mm">
    <div class="row text-success border-bottom">
        <div class="col-md-3 text-xs-center">عنوان</div>
        <div class="col-md-3 text-xs-center">نام انگلیسی</div>
        <div class="col-md-3 text-xs-center">والد</div>
        <div class="col-md-3 text-xs-center">عملیات</div>
    </div>

    @foreach (var item0 in Model.Where(w => w.ParentId == null).ToList())
    {
        <div class="row" style="margin:3mm 5mm;height:10mm;">
            <div class="col-md-3 text-xs-center">@item0.PermissionTitle</div>
            <div class="col-md-3 text-xs-center">@item0.PermissionName</div>
            <div class="col-md-3 text-xs-center">@item0.Parent?.PermissionTitle</div>
            <div class="col-md-3 text-xs-center">
                @if (_perService.CheckPermissionByName("peredit", User.Identity!.Name!))
                {
                    <a asp-action="Edit" asp-route-id="@item0.PermissionId">ویرایش</a> <span>|</span>
                }
                @if (_perService.CheckPermissionByName("perdet", User.Identity!.Name!))
                {
                    <a asp-action="Details" asp-route-id="@item0.PermissionId">جزئیات</a> <span>|</span>
                }
                @if (_perService.CheckPermissionByName("perdel", User.Identity!.Name!))
                {
                    <a asp-action="Delete" asp-route-id="@item0.PermissionId">حذف</a>
                }                
            </div>
        </div>

        
    foreach (var item1 in item0.Permissions.Where(w => w.ParentId == item0.PermissionId))
        {
            <div class="row" style="margin:3mm 7mm;height:10mm;">
                <div class="col-md-3 text-xs-center">@item1.PermissionTitle</div>
                <div class="col-md-3 text-xs-center">@item1.PermissionName</div>
                <div class="col-md-3 text-xs-center">@item1.Parent?.PermissionTitle</div>
                <div class="col-md-3 text-xs-center">
                    @if (_perService.CheckPermissionByName("peredit", User.Identity!.Name!))
                    {
                        <a asp-action="Edit" asp-route-id="@item1.PermissionId">ویرایش</a> <span>|</span>
                    }
                    @if (_perService.CheckPermissionByName("perdet", User.Identity!.Name!))
                    {
                        <a asp-action="Details" asp-route-id="@item1.PermissionId">جزئیات</a> <span>|</span>
                    }                 
                    @if (_perService.CheckPermissionByName("perdel", User.Identity!.Name!))
                    {
                        <a asp-action="Delete" asp-route-id="@item1.PermissionId">حذف</a>
                    }
                    
                </div>
            </div>
           
            foreach (var item2 in item1.Permissions.Where(w => w.ParentId == item1.PermissionId))
            {
                <div class="row" style="margin:3mm 10mm;height:10mm;">
                    <div class="col-md-3 text-xs-center">@item2.PermissionTitle</div>
                    <div class="col-md-3 text-xs-center">@item2.PermissionName</div>
                    <div class="col-md-3 text-xs-center">@item2.Parent?.PermissionTitle</div>
                    <div class="col-md-3 text-xs-center">
                        @if (_perService.CheckPermissionByName("peredit", User.Identity!.Name!))
                        {
                            <a asp-action="Edit" asp-route-id="@item2.PermissionId">ویرایش</a> <span>|</span>
                        }
                        @if (_perService.CheckPermissionByName("perdet", User.Identity!.Name!))
                        {
                            <a asp-action="Details" asp-route-id="@item2.PermissionId">جزئیات</a> <span>|</span>
                        }
                        @if (_perService.CheckPermissionByName("perdel", User.Identity!.Name!))
                        {
                            <a asp-action="Delete" asp-route-id="@item2.PermissionId">حذف</a>
                        }
                    </div>
                </div>
               
                foreach (var item3 in item2.Permissions.Where(w => w.ParentId == item2.PermissionId))
                {
                    <div class="row" style="margin:3mm 12mm;height:10mm;">
                        <div class="col-md-3 text-xs-center">@item3.PermissionTitle</div>
                        <div class="col-md-3 text-xs-center">@item3.PermissionName</div>
                        <div class="col-md-3 text-xs-center">@item3.Parent?.PermissionTitle</div>
                        <div class="col-md-3 text-xs-center">
                            @if (_perService.CheckPermissionByName("peredit", User.Identity!.Name!))
                            {
                                <a asp-action="Edit" asp-route-id="@item3.PermissionId">ویرایش</a> <span>|</span>
                            }
                            @if (_perService.CheckPermissionByName("perdet", User.Identity!.Name!))
                            {
                                <a asp-action="Details" asp-route-id="@item3.PermissionId">جزئیات</a> <span>|</span>
                            }
                            @if (_perService.CheckPermissionByName("perdel", User.Identity!.Name!))
                            {
                                <a asp-action="Delete" asp-route-id="@item3.PermissionId">حذف</a>
                            }
                        </div>
                    </div>
                }

            }
            
        }
    }
</div>
