@model IEnumerable<DataLayer.Entities.User.Role>

@{
    ViewData["Title"] = "نقشها";
    Layout = "~/Areas/UsersPanel/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-info">نقشها</h1>

<p>
    <a asp-action="Create" class="btn btn-success">ثبت</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.RoleTitle)
            </th>
            
            <th class="text-xs-center align-middle">عملیات</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-xs-center align-middle">
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td class="text-xs-center align-middle">
                @Html.DisplayFor(modelItem => item.RoleTitle)
            </td>
            
            <td class="text-xs-center align-middle">
                <a asp-action="Edit" asp-route-id="@item.RoleId">ویرایش</a> |
                <a asp-action="Details" asp-route-id="@item.RoleId">جزئیات</a> |
                <a asp-action="Delete" asp-route-id="@item.RoleId">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
