@model IEnumerable<DataLayer.Entities.Store.ProductSize>
@using Core.Services.Interfaces;
@inject IPermissionService _permService
@{
    ViewData["Title"] = "جدول سایز";
    Layout = "~/Areas/UsersPanel/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-info">جدول سایز</h1>
@if (_permService.CheckPermissionByName("prsadd", User.Identity!.Name!))
{
    <p>
        <a asp-action="Create" class="btn btn-success">ثبت سایز</a>
    </p>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.ChestAround)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.WaistAround)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.HipsAround)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.ArmAround)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.SleeveLength)
            </th>

            <th class="text-xs-center align-middle">عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.Product!.ProductName)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.ChestAround)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.WaistAround)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.HipsAround)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.ArmAround)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.SleeveLength)
                </td>

                <td>
                    @if (_permService.CheckPermissionByName("prsedit", User.Identity!.Name!))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">ویرایش</a>
                    }
                    @if (_permService.CheckPermissionByName("prsdet", User.Identity!.Name!))
                    {
                        <a asp-action="Details" asp-route-id="@item.Id">جزئیات</a>
                    }
                    @if (_permService.CheckPermissionByName("prsdel", User.Identity!.Name!))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">حــذف</a>
                    }
                    
                </td>
            </tr>
        }
    </tbody>
</table>
