@model IEnumerable<DataLayer.Entities.User.User>
@using Core.Services.Interfaces;
@inject IPermissionService _perService
@{
    ViewData["Title"] = "لیست کاربران سایت";
    Layout = "~/Areas/UsersPanel/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-info">لیست کاربران سایت</h1>
@if(_perService.CheckPermissionByName("usadd",User.Identity!.Name!))
{
    <p>
        <a asp-action="Create" class="btn btn-success">ثبت</a>
    </p>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.Family)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.Cellphone)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.IsActive)
            </th>

            <th class="text-xs-center align-middle">عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.Family)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.Cellphone)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>

                <td class="text-xs-center align-middle">
                    @if (_perService.CheckPermissionByName("usedit", User.Identity!.Name!))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">ویرایش</a>
                    }
                    @if (_perService.CheckPermissionByName("usdet", User.Identity!.Name!))
                    {
                        <a asp-action="Details" asp-route-id="@item.Id">جزئیات</a>
                    }
                    @if (_perService.CheckPermissionByName("usdel", User.Identity!.Name!))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                    }
                    
                </td>
            </tr>
        }
    </tbody>
</table>
